<link rel="stylesheet" type="text/css" href="asa.css" />

.header {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, #660066 0%, #003399 100%);
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.button { /* button design */
  display: inline-block;
  border-radius: 5px;
  background-color: #00ccff;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
#test p,h1,h3, ul { /* text design, fade-in animation when loading up website */
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
body {
	text-align:center;
	background: linear-gradient(-45deg, #660066, #003399, #660033, #CC0000);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
h1{
	font-size:80px;
	}
h3{
	font-size:50px;
	}
p, ul{
	font-size:25px;
	}
h1 , h3  {
	color: white; 
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	}
	a {
	color:lightblue;
	}
p  {
	color: white; 
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	text-align:justify center;
	width:25em
	}
ul { 
	color: white; 
	display:table; 
	margin:0 auto; 
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
	text-align:center;
	}